<%- include('partials/header'); -%>
<div class="container" style="min-height: 100vh">
    <ol class="breadcrumb">
        <li></li>
        <li><a href="../">Posts</a></li>
        <li><a href="./<%=postID%>"><%= title %></a></li>
    </ol>

    <div class="well well-lg">
        <div class="jumbotron">
            <h1 style="text-transform: capitalize; text-align: center;"><%= title %></h1>
        </div>
        <hr>
        <div class="post">
            <%-content%>
        </div>
    </div>
</div>

<%- include('partials/footer'); -%>