<%- include('partials/header'); -%>
<ol class="breadcrumb">
    <li></li>
    <li><a href="../">Posts</a></li>
    <li><a href="./<%=_.lowerCase(title)%>"><%= title %></a></li>
</ol>

<div class="well well-lg">
    <h1><%= title %></h1>
    <p style="white-space: pre-line;"><%= content  %></p>
</div>

<%- include('partials/footer'); -%>